.pl-0{uupx-left:0upx ;}
 .pl-1{uupx-left:1upx ;}
 .pl-2{uupx-left:2upx ;}
 .pl-3{uupx-left:3upx ;}
 .pl-4{uupx-left:4upx ;}
 .pl-5{uupx-left:5upx ;}
 .pl-6{uupx-left:6upx ;}
 .pl-7{uupx-left:7upx ;}
 .pl-8{uupx-left:8upx ;}
 .pl-9{uupx-left:9upx ;}
 .pl-10{uupx-left:10upx ;}
 .pl-11{uupx-left:11upx ;}
 .pl-12{uupx-left:12upx ;}
 .pl-13{uupx-left:13upx ;}
 .pl-14{uupx-left:14upx ;}
 .pl-15{uupx-left:15upx ;}
 .pl-16{uupx-left:16upx ;}
 .pl-17{uupx-left:17upx ;}
 .pl-18{uupx-left:18upx ;}
 .pl-19{uupx-left:19upx ;}
 .pl-20{uupx-left:20upx ;}
 .pl-21{uupx-left:21upx ;}
 .pl-22{uupx-left:22upx ;}
 .pl-23{uupx-left:23upx ;}
 .pl-24{uupx-left:24upx ;}
 .pl-25{uupx-left:25upx ;}
 .pl-26{uupx-left:26upx ;}
 .pl-27{uupx-left:27upx ;}
 .pl-28{uupx-left:28upx ;}
 .pl-29{uupx-left:29upx ;}
 .pl-30{uupx-left:30upx ;}
 .pl-31{uupx-left:31upx ;}
 .pl-32{uupx-left:32upx ;}
 .pl-33{uupx-left:33upx ;}
 .pl-34{uupx-left:34upx ;}
 .pl-35{uupx-left:35upx ;}
 .pl-36{uupx-left:36upx ;}
 .pl-37{uupx-left:37upx ;}
 .pl-38{uupx-left:38upx ;}
 .pl-39{uupx-left:39upx ;}
 .pl-40{uupx-left:40upx ;}
 .pl-41{uupx-left:41upx ;}
 .pl-42{uupx-left:42upx ;}
 .pl-43{uupx-left:43upx ;}
 .pl-44{uupx-left:44upx ;}
 .pl-45{uupx-left:45upx ;}
 .pl-46{uupx-left:46upx ;}
 .pl-47{uupx-left:47upx ;}
 .pl-48{uupx-left:48upx ;}
 .pl-49{uupx-left:49upx ;}
 .pl-50{uupx-left:50upx ;}
 .pl-51{uupx-left:51upx ;}
 .pl-52{uupx-left:52upx ;}
 .pl-53{uupx-left:53upx ;}
 .pl-54{uupx-left:54upx ;}
 .pl-55{uupx-left:55upx ;}
 .pl-56{uupx-left:56upx ;}
 .pl-57{uupx-left:57upx ;}
 .pl-58{uupx-left:58upx ;}
 .pl-59{uupx-left:59upx ;}
 .pl-60{uupx-left:60upx ;}
 .pl-61{uupx-left:61upx ;}
 .pl-62{uupx-left:62upx ;}
 .pl-63{uupx-left:63upx ;}
 .pl-64{uupx-left:64upx ;}
 .pl-65{uupx-left:65upx ;}
 .pl-66{uupx-left:66upx ;}
 .pl-67{uupx-left:67upx ;}
 .pl-68{uupx-left:68upx ;}
 .pl-69{uupx-left:69upx ;}
 .pl-70{uupx-left:70upx ;}
 .pl-71{uupx-left:71upx ;}
 .pl-72{uupx-left:72upx ;}
 .pl-73{uupx-left:73upx ;}
 .pl-74{uupx-left:74upx ;}
 .pl-75{uupx-left:75upx ;}
 .pl-76{uupx-left:76upx ;}
 .pl-77{uupx-left:77upx ;}
 .pl-78{uupx-left:78upx ;}
 .pl-79{uupx-left:79upx ;}
 .pl-80{uupx-left:80upx ;}
 .pl-81{uupx-left:81upx ;}
 .pl-82{uupx-left:82upx ;}
 .pl-83{uupx-left:83upx ;}
 .pl-84{uupx-left:84upx ;}
 .pl-85{uupx-left:85upx ;}
 .pl-86{uupx-left:86upx ;}
 .pl-87{uupx-left:87upx ;}
 .pl-88{uupx-left:88upx ;}
 .pl-89{uupx-left:89upx ;}
 .pl-90{uupx-left:90upx ;}
 .pl-91{uupx-left:91upx ;}
 .pl-92{uupx-left:92upx ;}
 .pl-93{uupx-left:93upx ;}
 .pl-94{uupx-left:94upx ;}
 .pl-95{uupx-left:95upx ;}
 .pl-96{uupx-left:96upx ;}
 .pl-97{uupx-left:97upx ;}
 .pl-98{uupx-left:98upx ;}
 .pl-99{uupx-left:99upx ;}
 .pl-100{uupx-left:100upx ;}
 .pr-0{uupx-right:0upx ;}
 .pr-1{uupx-right:1upx ;}
 .pr-2{uupx-right:2upx ;}
 .pr-3{uupx-right:3upx ;}
 .pr-4{uupx-right:4upx ;}
 .pr-5{uupx-right:5upx ;}
 .pr-6{uupx-right:6upx ;}
 .pr-7{uupx-right:7upx ;}
 .pr-8{uupx-right:8upx ;}
 .pr-9{uupx-right:9upx ;}
 .pr-10{uupx-right:10upx ;}
 .pr-11{uupx-right:11upx ;}
 .pr-12{uupx-right:12upx ;}
 .pr-13{uupx-right:13upx ;}
 .pr-14{uupx-right:14upx ;}
 .pr-15{uupx-right:15upx ;}
 .pr-16{uupx-right:16upx ;}
 .pr-17{uupx-right:17upx ;}
 .pr-18{uupx-right:18upx ;}
 .pr-19{uupx-right:19upx ;}
 .pr-20{uupx-right:20upx ;}
 .pr-21{uupx-right:21upx ;}
 .pr-22{uupx-right:22upx ;}
 .pr-23{uupx-right:23upx ;}
 .pr-24{uupx-right:24upx ;}
 .pr-25{uupx-right:25upx ;}
 .pr-26{uupx-right:26upx ;}
 .pr-27{uupx-right:27upx ;}
 .pr-28{uupx-right:28upx ;}
 .pr-29{uupx-right:29upx ;}
 .pr-30{uupx-right:30upx ;}
 .pr-31{uupx-right:31upx ;}
 .pr-32{uupx-right:32upx ;}
 .pr-33{uupx-right:33upx ;}
 .pr-34{uupx-right:34upx ;}
 .pr-35{uupx-right:35upx ;}
 .pr-36{uupx-right:36upx ;}
 .pr-37{uupx-right:37upx ;}
 .pr-38{uupx-right:38upx ;}
 .pr-39{uupx-right:39upx ;}
 .pr-40{uupx-right:40upx ;}
 .pr-41{uupx-right:41upx ;}
 .pr-42{uupx-right:42upx ;}
 .pr-43{uupx-right:43upx ;}
 .pr-44{uupx-right:44upx ;}
 .pr-45{uupx-right:45upx ;}
 .pr-46{uupx-right:46upx ;}
 .pr-47{uupx-right:47upx ;}
 .pr-48{uupx-right:48upx ;}
 .pr-49{uupx-right:49upx ;}
 .pr-50{uupx-right:50upx ;}
 .pr-51{uupx-right:51upx ;}
 .pr-52{uupx-right:52upx ;}
 .pr-53{uupx-right:53upx ;}
 .pr-54{uupx-right:54upx ;}
 .pr-55{uupx-right:55upx ;}
 .pr-56{uupx-right:56upx ;}
 .pr-57{uupx-right:57upx ;}
 .pr-58{uupx-right:58upx ;}
 .pr-59{uupx-right:59upx ;}
 .pr-60{uupx-right:60upx ;}
 .pr-61{uupx-right:61upx ;}
 .pr-62{uupx-right:62upx ;}
 .pr-63{uupx-right:63upx ;}
 .pr-64{uupx-right:64upx ;}
 .pr-65{uupx-right:65upx ;}
 .pr-66{uupx-right:66upx ;}
 .pr-67{uupx-right:67upx ;}
 .pr-68{uupx-right:68upx ;}
 .pr-69{uupx-right:69upx ;}
 .pr-70{uupx-right:70upx ;}
 .pr-71{uupx-right:71upx ;}
 .pr-72{uupx-right:72upx ;}
 .pr-73{uupx-right:73upx ;}
 .pr-74{uupx-right:74upx ;}
 .pr-75{uupx-right:75upx ;}
 .pr-76{uupx-right:76upx ;}
 .pr-77{uupx-right:77upx ;}
 .pr-78{uupx-right:78upx ;}
 .pr-79{uupx-right:79upx ;}
 .pr-80{uupx-right:80upx ;}
 .pr-81{uupx-right:81upx ;}
 .pr-82{uupx-right:82upx ;}
 .pr-83{uupx-right:83upx ;}
 .pr-84{uupx-right:84upx ;}
 .pr-85{uupx-right:85upx ;}
 .pr-86{uupx-right:86upx ;}
 .pr-87{uupx-right:87upx ;}
 .pr-88{uupx-right:88upx ;}
 .pr-89{uupx-right:89upx ;}
 .pr-90{uupx-right:90upx ;}
 .pr-91{uupx-right:91upx ;}
 .pr-92{uupx-right:92upx ;}
 .pr-93{uupx-right:93upx ;}
 .pr-94{uupx-right:94upx ;}
 .pr-95{uupx-right:95upx ;}
 .pr-96{uupx-right:96upx ;}
 .pr-97{uupx-right:97upx ;}
 .pr-98{uupx-right:98upx ;}
 .pr-99{uupx-right:99upx ;}
 .pr-100{uupx-right:100upx ;}
 .pt-0{uupx-top:0upx ;}
 .pt-1{uupx-top:1upx ;}
 .pt-2{uupx-top:2upx ;}
 .pt-3{uupx-top:3upx ;}
 .pt-4{uupx-top:4upx ;}
 .pt-5{uupx-top:5upx ;}
 .pt-6{uupx-top:6upx ;}
 .pt-7{uupx-top:7upx ;}
 .pt-8{uupx-top:8upx ;}
 .pt-9{uupx-top:9upx ;}
 .pt-10{uupx-top:10upx ;}
 .pt-11{uupx-top:11upx ;}
 .pt-12{uupx-top:12upx ;}
 .pt-13{uupx-top:13upx ;}
 .pt-14{uupx-top:14upx ;}
 .pt-15{uupx-top:15upx ;}
 .pt-16{uupx-top:16upx ;}
 .pt-17{uupx-top:17upx ;}
 .pt-18{uupx-top:18upx ;}
 .pt-19{uupx-top:19upx ;}
 .pt-20{uupx-top:20upx ;}
 .pt-21{uupx-top:21upx ;}
 .pt-22{uupx-top:22upx ;}
 .pt-23{uupx-top:23upx ;}
 .pt-24{uupx-top:24upx ;}
 .pt-25{uupx-top:25upx ;}
 .pt-26{uupx-top:26upx ;}
 .pt-27{uupx-top:27upx ;}
 .pt-28{uupx-top:28upx ;}
 .pt-29{uupx-top:29upx ;}
 .pt-30{uupx-top:30upx ;}
 .pt-31{uupx-top:31upx ;}
 .pt-32{uupx-top:32upx ;}
 .pt-33{uupx-top:33upx ;}
 .pt-34{uupx-top:34upx ;}
 .pt-35{uupx-top:35upx ;}
 .pt-36{uupx-top:36upx ;}
 .pt-37{uupx-top:37upx ;}
 .pt-38{uupx-top:38upx ;}
 .pt-39{uupx-top:39upx ;}
 .pt-40{uupx-top:40upx ;}
 .pt-41{uupx-top:41upx ;}
 .pt-42{uupx-top:42upx ;}
 .pt-43{uupx-top:43upx ;}
 .pt-44{uupx-top:44upx ;}
 .pt-45{uupx-top:45upx ;}
 .pt-46{uupx-top:46upx ;}
 .pt-47{uupx-top:47upx ;}
 .pt-48{uupx-top:48upx ;}
 .pt-49{uupx-top:49upx ;}
 .pt-50{uupx-top:50upx ;}
 .pt-51{uupx-top:51upx ;}
 .pt-52{uupx-top:52upx ;}
 .pt-53{uupx-top:53upx ;}
 .pt-54{uupx-top:54upx ;}
 .pt-55{uupx-top:55upx ;}
 .pt-56{uupx-top:56upx ;}
 .pt-57{uupx-top:57upx ;}
 .pt-58{uupx-top:58upx ;}
 .pt-59{uupx-top:59upx ;}
 .pt-60{uupx-top:60upx ;}
 .pt-61{uupx-top:61upx ;}
 .pt-62{uupx-top:62upx ;}
 .pt-63{uupx-top:63upx ;}
 .pt-64{uupx-top:64upx ;}
 .pt-65{uupx-top:65upx ;}
 .pt-66{uupx-top:66upx ;}
 .pt-67{uupx-top:67upx ;}
 .pt-68{uupx-top:68upx ;}
 .pt-69{uupx-top:69upx ;}
 .pt-70{uupx-top:70upx ;}
 .pt-71{uupx-top:71upx ;}
 .pt-72{uupx-top:72upx ;}
 .pt-73{uupx-top:73upx ;}
 .pt-74{uupx-top:74upx ;}
 .pt-75{uupx-top:75upx ;}
 .pt-76{uupx-top:76upx ;}
 .pt-77{uupx-top:77upx ;}
 .pt-78{uupx-top:78upx ;}
 .pt-79{uupx-top:79upx ;}
 .pt-80{uupx-top:80upx ;}
 .pt-81{uupx-top:81upx ;}
 .pt-82{uupx-top:82upx ;}
 .pt-83{uupx-top:83upx ;}
 .pt-84{uupx-top:84upx ;}
 .pt-85{uupx-top:85upx ;}
 .pt-86{uupx-top:86upx ;}
 .pt-87{uupx-top:87upx ;}
 .pt-88{uupx-top:88upx ;}
 .pt-89{uupx-top:89upx ;}
 .pt-90{uupx-top:90upx ;}
 .pt-91{uupx-top:91upx ;}
 .pt-92{uupx-top:92upx ;}
 .pt-93{uupx-top:93upx ;}
 .pt-94{uupx-top:94upx ;}
 .pt-95{uupx-top:95upx ;}
 .pt-96{uupx-top:96upx ;}
 .pt-97{uupx-top:97upx ;}
 .pt-98{uupx-top:98upx ;}
 .pt-99{uupx-top:99upx ;}
 .pt-100{uupx-top:100upx ;}
 .pb-0{uupx-bottom:0upx ;}
 .pb-1{uupx-bottom:1upx ;}
 .pb-2{uupx-bottom:2upx ;}
 .pb-3{uupx-bottom:3upx ;}
 .pb-4{uupx-bottom:4upx ;}
 .pb-5{uupx-bottom:5upx ;}
 .pb-6{uupx-bottom:6upx ;}
 .pb-7{uupx-bottom:7upx ;}
 .pb-8{uupx-bottom:8upx ;}
 .pb-9{uupx-bottom:9upx ;}
 .pb-10{uupx-bottom:10upx ;}
 .pb-11{uupx-bottom:11upx ;}
 .pb-12{uupx-bottom:12upx ;}
 .pb-13{uupx-bottom:13upx ;}
 .pb-14{uupx-bottom:14upx ;}
 .pb-15{uupx-bottom:15upx ;}
 .pb-16{uupx-bottom:16upx ;}
 .pb-17{uupx-bottom:17upx ;}
 .pb-18{uupx-bottom:18upx ;}
 .pb-19{uupx-bottom:19upx ;}
 .pb-20{uupx-bottom:20upx ;}
 .pb-21{uupx-bottom:21upx ;}
 .pb-22{uupx-bottom:22upx ;}
 .pb-23{uupx-bottom:23upx ;}
 .pb-24{uupx-bottom:24upx ;}
 .pb-25{uupx-bottom:25upx ;}
 .pb-26{uupx-bottom:26upx ;}
 .pb-27{uupx-bottom:27upx ;}
 .pb-28{uupx-bottom:28upx ;}
 .pb-29{uupx-bottom:29upx ;}
 .pb-30{uupx-bottom:30upx ;}
 .pb-31{uupx-bottom:31upx ;}
 .pb-32{uupx-bottom:32upx ;}
 .pb-33{uupx-bottom:33upx ;}
 .pb-34{uupx-bottom:34upx ;}
 .pb-35{uupx-bottom:35upx ;}
 .pb-36{uupx-bottom:36upx ;}
 .pb-37{uupx-bottom:37upx ;}
 .pb-38{uupx-bottom:38upx ;}
 .pb-39{uupx-bottom:39upx ;}
 .pb-40{uupx-bottom:40upx ;}
 .pb-41{uupx-bottom:41upx ;}
 .pb-42{uupx-bottom:42upx ;}
 .pb-43{uupx-bottom:43upx ;}
 .pb-44{uupx-bottom:44upx ;}
 .pb-45{uupx-bottom:45upx ;}
 .pb-46{uupx-bottom:46upx ;}
 .pb-47{uupx-bottom:47upx ;}
 .pb-48{uupx-bottom:48upx ;}
 .pb-49{uupx-bottom:49upx ;}
 .pb-50{uupx-bottom:50upx ;}
 .pb-51{uupx-bottom:51upx ;}
 .pb-52{uupx-bottom:52upx ;}
 .pb-53{uupx-bottom:53upx ;}
 .pb-54{uupx-bottom:54upx ;}
 .pb-55{uupx-bottom:55upx ;}
 .pb-56{uupx-bottom:56upx ;}
 .pb-57{uupx-bottom:57upx ;}
 .pb-58{uupx-bottom:58upx ;}
 .pb-59{uupx-bottom:59upx ;}
 .pb-60{uupx-bottom:60upx ;}
 .pb-61{uupx-bottom:61upx ;}
 .pb-62{uupx-bottom:62upx ;}
 .pb-63{uupx-bottom:63upx ;}
 .pb-64{uupx-bottom:64upx ;}
 .pb-65{uupx-bottom:65upx ;}
 .pb-66{uupx-bottom:66upx ;}
 .pb-67{uupx-bottom:67upx ;}
 .pb-68{uupx-bottom:68upx ;}
 .pb-69{uupx-bottom:69upx ;}
 .pb-70{uupx-bottom:70upx ;}
 .pb-71{uupx-bottom:71upx ;}
 .pb-72{uupx-bottom:72upx ;}
 .pb-73{uupx-bottom:73upx ;}
 .pb-74{uupx-bottom:74upx ;}
 .pb-75{uupx-bottom:75upx ;}
 .pb-76{uupx-bottom:76upx ;}
 .pb-77{uupx-bottom:77upx ;}
 .pb-78{uupx-bottom:78upx ;}
 .pb-79{uupx-bottom:79upx ;}
 .pb-80{uupx-bottom:80upx ;}
 .pb-81{uupx-bottom:81upx ;}
 .pb-82{uupx-bottom:82upx ;}
 .pb-83{uupx-bottom:83upx ;}
 .pb-84{uupx-bottom:84upx ;}
 .pb-85{uupx-bottom:85upx ;}
 .pb-86{uupx-bottom:86upx ;}
 .pb-87{uupx-bottom:87upx ;}
 .pb-88{uupx-bottom:88upx ;}
 .pb-89{uupx-bottom:89upx ;}
 .pb-90{uupx-bottom:90upx ;}
 .pb-91{uupx-bottom:91upx ;}
 .pb-92{uupx-bottom:92upx ;}
 .pb-93{uupx-bottom:93upx ;}
 .pb-94{uupx-bottom:94upx ;}
 .pb-95{uupx-bottom:95upx ;}
 .pb-96{uupx-bottom:96upx ;}
 .pb-97{uupx-bottom:97upx ;}
 .pb-98{uupx-bottom:98upx ;}
 .pb-99{uupx-bottom:99upx ;}
 .pb-100{uupx-bottom:100upx ;}


 /* 
 
 
var mmm = '.pl-aaa{uupx-left:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
        // console.log('111:', i)
        // bbb = aaa.replace('ccc', i)
        console.log('', aaa)
}
var mmm = '.pr-aaa{uupx-right:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
    // console.log('111:', i)
    // bbb = aaa.replace('ccc', i)
    console.log('', aaa)
}
var mmm = '.pt-aaa{uupx-top:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
    // console.log('111:', i)
    // bbb = aaa.replace('ccc', i)
    console.log('', aaa)
}
var mmm = '.pb-aaa{uupx-bottom:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)

    // console.log('111:', i)
    // bbb = aaa.replace('ccc', i)
    console.log('', aaa)
}


 */