 .ml-0{margin-left:0upx ;}
 .ml-1{margin-left:1upx ;}
 .ml-2{margin-left:2upx ;}
 .ml-3{margin-left:3upx ;}
 .ml-4{margin-left:4upx ;}
 .ml-5{margin-left:5upx ;}
 .ml-6{margin-left:6upx ;}
 .ml-7{margin-left:7upx ;}
 .ml-8{margin-left:8upx ;}
 .ml-9{margin-left:9upx ;}
 .ml-10{margin-left:10upx ;}
 .ml-11{margin-left:11upx ;}
 .ml-12{margin-left:12upx ;}
 .ml-13{margin-left:13upx ;}
 .ml-14{margin-left:14upx ;}
 .ml-15{margin-left:15upx ;}
 .ml-16{margin-left:16upx ;}
 .ml-17{margin-left:17upx ;}
 .ml-18{margin-left:18upx ;}
 .ml-19{margin-left:19upx ;}
 .ml-20{margin-left:20upx ;}
 .ml-21{margin-left:21upx ;}
 .ml-22{margin-left:22upx ;}
 .ml-23{margin-left:23upx ;}
 .ml-24{margin-left:24upx ;}
 .ml-25{margin-left:25upx ;}
 .ml-26{margin-left:26upx ;}
 .ml-27{margin-left:27upx ;}
 .ml-28{margin-left:28upx ;}
 .ml-29{margin-left:29upx ;}
 .ml-30{margin-left:30upx ;}
 .ml-31{margin-left:31upx ;}
 .ml-32{margin-left:32upx ;}
 .ml-33{margin-left:33upx ;}
 .ml-34{margin-left:34upx ;}
 .ml-35{margin-left:35upx ;}
 .ml-36{margin-left:36upx ;}
 .ml-37{margin-left:37upx ;}
 .ml-38{margin-left:38upx ;}
 .ml-39{margin-left:39upx ;}
 .ml-40{margin-left:40upx ;}
 .ml-41{margin-left:41upx ;}
 .ml-42{margin-left:42upx ;}
 .ml-43{margin-left:43upx ;}
 .ml-44{margin-left:44upx ;}
 .ml-45{margin-left:45upx ;}
 .ml-46{margin-left:46upx ;}
 .ml-47{margin-left:47upx ;}
 .ml-48{margin-left:48upx ;}
 .ml-49{margin-left:49upx ;}
 .ml-50{margin-left:50upx ;}
 .ml-51{margin-left:51upx ;}
 .ml-52{margin-left:52upx ;}
 .ml-53{margin-left:53upx ;}
 .ml-54{margin-left:54upx ;}
 .ml-55{margin-left:55upx ;}
 .ml-56{margin-left:56upx ;}
 .ml-57{margin-left:57upx ;}
 .ml-58{margin-left:58upx ;}
 .ml-59{margin-left:59upx ;}
 .ml-60{margin-left:60upx ;}
 .ml-61{margin-left:61upx ;}
 .ml-62{margin-left:62upx ;}
 .ml-63{margin-left:63upx ;}
 .ml-64{margin-left:64upx ;}
 .ml-65{margin-left:65upx ;}
 .ml-66{margin-left:66upx ;}
 .ml-67{margin-left:67upx ;}
 .ml-68{margin-left:68upx ;}
 .ml-69{margin-left:69upx ;}
 .ml-70{margin-left:70upx ;}
 .ml-71{margin-left:71upx ;}
 .ml-72{margin-left:72upx ;}
 .ml-73{margin-left:73upx ;}
 .ml-74{margin-left:74upx ;}
 .ml-75{margin-left:75upx ;}
 .ml-76{margin-left:76upx ;}
 .ml-77{margin-left:77upx ;}
 .ml-78{margin-left:78upx ;}
 .ml-79{margin-left:79upx ;}
 .ml-80{margin-left:80upx ;}
 .ml-81{margin-left:81upx ;}
 .ml-82{margin-left:82upx ;}
 .ml-83{margin-left:83upx ;}
 .ml-84{margin-left:84upx ;}
 .ml-85{margin-left:85upx ;}
 .ml-86{margin-left:86upx ;}
 .ml-87{margin-left:87upx ;}
 .ml-88{margin-left:88upx ;}
 .ml-89{margin-left:89upx ;}
 .ml-90{margin-left:90upx ;}
 .ml-91{margin-left:91upx ;}
 .ml-92{margin-left:92upx ;}
 .ml-93{margin-left:93upx ;}
 .ml-94{margin-left:94upx ;}
 .ml-95{margin-left:95upx ;}
 .ml-96{margin-left:96upx ;}
 .ml-97{margin-left:97upx ;}
 .ml-98{margin-left:98upx ;}
 .ml-99{margin-left:99upx ;}
 .ml-100{margin-left:100upx ;}
 .mr-0{margin-right:0upx ;}
 .mr-1{margin-right:1upx ;}
 .mr-2{margin-right:2upx ;}
 .mr-3{margin-right:3upx ;}
 .mr-4{margin-right:4upx ;}
 .mr-5{margin-right:5upx ;}
 .mr-6{margin-right:6upx ;}
 .mr-7{margin-right:7upx ;}
 .mr-8{margin-right:8upx ;}
 .mr-9{margin-right:9upx ;}
 .mr-10{margin-right:10upx ;}
 .mr-11{margin-right:11upx ;}
 .mr-12{margin-right:12upx ;}
 .mr-13{margin-right:13upx ;}
 .mr-14{margin-right:14upx ;}
 .mr-15{margin-right:15upx ;}
 .mr-16{margin-right:16upx ;}
 .mr-17{margin-right:17upx ;}
 .mr-18{margin-right:18upx ;}
 .mr-19{margin-right:19upx ;}
 .mr-20{margin-right:20upx ;}
 .mr-21{margin-right:21upx ;}
 .mr-22{margin-right:22upx ;}
 .mr-23{margin-right:23upx ;}
 .mr-24{margin-right:24upx ;}
 .mr-25{margin-right:25upx ;}
 .mr-26{margin-right:26upx ;}
 .mr-27{margin-right:27upx ;}
 .mr-28{margin-right:28upx ;}
 .mr-29{margin-right:29upx ;}
 .mr-30{margin-right:30upx ;}
 .mr-31{margin-right:31upx ;}
 .mr-32{margin-right:32upx ;}
 .mr-33{margin-right:33upx ;}
 .mr-34{margin-right:34upx ;}
 .mr-35{margin-right:35upx ;}
 .mr-36{margin-right:36upx ;}
 .mr-37{margin-right:37upx ;}
 .mr-38{margin-right:38upx ;}
 .mr-39{margin-right:39upx ;}
 .mr-40{margin-right:40upx ;}
 .mr-41{margin-right:41upx ;}
 .mr-42{margin-right:42upx ;}
 .mr-43{margin-right:43upx ;}
 .mr-44{margin-right:44upx ;}
 .mr-45{margin-right:45upx ;}
 .mr-46{margin-right:46upx ;}
 .mr-47{margin-right:47upx ;}
 .mr-48{margin-right:48upx ;}
 .mr-49{margin-right:49upx ;}
 .mr-50{margin-right:50upx ;}
 .mr-51{margin-right:51upx ;}
 .mr-52{margin-right:52upx ;}
 .mr-53{margin-right:53upx ;}
 .mr-54{margin-right:54upx ;}
 .mr-55{margin-right:55upx ;}
 .mr-56{margin-right:56upx ;}
 .mr-57{margin-right:57upx ;}
 .mr-58{margin-right:58upx ;}
 .mr-59{margin-right:59upx ;}
 .mr-60{margin-right:60upx ;}
 .mr-61{margin-right:61upx ;}
 .mr-62{margin-right:62upx ;}
 .mr-63{margin-right:63upx ;}
 .mr-64{margin-right:64upx ;}
 .mr-65{margin-right:65upx ;}
 .mr-66{margin-right:66upx ;}
 .mr-67{margin-right:67upx ;}
 .mr-68{margin-right:68upx ;}
 .mr-69{margin-right:69upx ;}
 .mr-70{margin-right:70upx ;}
 .mr-71{margin-right:71upx ;}
 .mr-72{margin-right:72upx ;}
 .mr-73{margin-right:73upx ;}
 .mr-74{margin-right:74upx ;}
 .mr-75{margin-right:75upx ;}
 .mr-76{margin-right:76upx ;}
 .mr-77{margin-right:77upx ;}
 .mr-78{margin-right:78upx ;}
 .mr-79{margin-right:79upx ;}
 .mr-80{margin-right:80upx ;}
 .mr-81{margin-right:81upx ;}
 .mr-82{margin-right:82upx ;}
 .mr-83{margin-right:83upx ;}
 .mr-84{margin-right:84upx ;}
 .mr-85{margin-right:85upx ;}
 .mr-86{margin-right:86upx ;}
 .mr-87{margin-right:87upx ;}
 .mr-88{margin-right:88upx ;}
 .mr-89{margin-right:89upx ;}
 .mr-90{margin-right:90upx ;}
 .mr-91{margin-right:91upx ;}
 .mr-92{margin-right:92upx ;}
 .mr-93{margin-right:93upx ;}
 .mr-94{margin-right:94upx ;}
 .mr-95{margin-right:95upx ;}
 .mr-96{margin-right:96upx ;}
 .mr-97{margin-right:97upx ;}
 .mr-98{margin-right:98upx ;}
 .mr-99{margin-right:99upx ;}
 .mr-100{margin-right:100upx ;}
 .mt-0{margin-top:0upx ;}
 .mt-1{margin-top:1upx ;}
 .mt-2{margin-top:2upx ;}
 .mt-3{margin-top:3upx ;}
 .mt-4{margin-top:4upx ;}
 .mt-5{margin-top:5upx ;}
 .mt-6{margin-top:6upx ;}
 .mt-7{margin-top:7upx ;}
 .mt-8{margin-top:8upx ;}
 .mt-9{margin-top:9upx ;}
 .mt-10{margin-top:10upx ;}
 .mt-11{margin-top:11upx ;}
 .mt-12{margin-top:12upx ;}
 .mt-13{margin-top:13upx ;}
 .mt-14{margin-top:14upx ;}
 .mt-15{margin-top:15upx ;}
 .mt-16{margin-top:16upx ;}
 .mt-17{margin-top:17upx ;}
 .mt-18{margin-top:18upx ;}
 .mt-19{margin-top:19upx ;}
 .mt-20{margin-top:20upx ;}
 .mt-21{margin-top:21upx ;}
 .mt-22{margin-top:22upx ;}
 .mt-23{margin-top:23upx ;}
 .mt-24{margin-top:24upx ;}
 .mt-25{margin-top:25upx ;}
 .mt-26{margin-top:26upx ;}
 .mt-27{margin-top:27upx ;}
 .mt-28{margin-top:28upx ;}
 .mt-29{margin-top:29upx ;}
 .mt-30{margin-top:30upx ;}
 .mt-31{margin-top:31upx ;}
 .mt-32{margin-top:32upx ;}
 .mt-33{margin-top:33upx ;}
 .mt-34{margin-top:34upx ;}
 .mt-35{margin-top:35upx ;}
 .mt-36{margin-top:36upx ;}
 .mt-37{margin-top:37upx ;}
 .mt-38{margin-top:38upx ;}
 .mt-39{margin-top:39upx ;}
 .mt-40{margin-top:40upx ;}
 .mt-41{margin-top:41upx ;}
 .mt-42{margin-top:42upx ;}
 .mt-43{margin-top:43upx ;}
 .mt-44{margin-top:44upx ;}
 .mt-45{margin-top:45upx ;}
 .mt-46{margin-top:46upx ;}
 .mt-47{margin-top:47upx ;}
 .mt-48{margin-top:48upx ;}
 .mt-49{margin-top:49upx ;}
 .mt-50{margin-top:50upx ;}
 .mt-51{margin-top:51upx ;}
 .mt-52{margin-top:52upx ;}
 .mt-53{margin-top:53upx ;}
 .mt-54{margin-top:54upx ;}
 .mt-55{margin-top:55upx ;}
 .mt-56{margin-top:56upx ;}
 .mt-57{margin-top:57upx ;}
 .mt-58{margin-top:58upx ;}
 .mt-59{margin-top:59upx ;}
 .mt-60{margin-top:60upx ;}
 .mt-61{margin-top:61upx ;}
 .mt-62{margin-top:62upx ;}
 .mt-63{margin-top:63upx ;}
 .mt-64{margin-top:64upx ;}
 .mt-65{margin-top:65upx ;}
 .mt-66{margin-top:66upx ;}
 .mt-67{margin-top:67upx ;}
 .mt-68{margin-top:68upx ;}
 .mt-69{margin-top:69upx ;}
 .mt-70{margin-top:70upx ;}
 .mt-71{margin-top:71upx ;}
 .mt-72{margin-top:72upx ;}
 .mt-73{margin-top:73upx ;}
 .mt-74{margin-top:74upx ;}
 .mt-75{margin-top:75upx ;}
 .mt-76{margin-top:76upx ;}
 .mt-77{margin-top:77upx ;}
 .mt-78{margin-top:78upx ;}
 .mt-79{margin-top:79upx ;}
 .mt-80{margin-top:80upx ;}
 .mt-81{margin-top:81upx ;}
 .mt-82{margin-top:82upx ;}
 .mt-83{margin-top:83upx ;}
 .mt-84{margin-top:84upx ;}
 .mt-85{margin-top:85upx ;}
 .mt-86{margin-top:86upx ;}
 .mt-87{margin-top:87upx ;}
 .mt-88{margin-top:88upx ;}
 .mt-89{margin-top:89upx ;}
 .mt-90{margin-top:90upx ;}
 .mt-91{margin-top:91upx ;}
 .mt-92{margin-top:92upx ;}
 .mt-93{margin-top:93upx ;}
 .mt-94{margin-top:94upx ;}
 .mt-95{margin-top:95upx ;}
 .mt-96{margin-top:96upx ;}
 .mt-97{margin-top:97upx ;}
 .mt-98{margin-top:98upx ;}
 .mt-99{margin-top:99upx ;}
 .mt-100{margin-top:100upx ;}
 .mb-0{margin-bottom:0upx ;}
 .mb-1{margin-bottom:1upx ;}
 .mb-2{margin-bottom:2upx ;}
 .mb-3{margin-bottom:3upx ;}
 .mb-4{margin-bottom:4upx ;}
 .mb-5{margin-bottom:5upx ;}
 .mb-6{margin-bottom:6upx ;}
 .mb-7{margin-bottom:7upx ;}
 .mb-8{margin-bottom:8upx ;}
 .mb-9{margin-bottom:9upx ;}
 .mb-10{margin-bottom:10upx ;}
 .mb-11{margin-bottom:11upx ;}
 .mb-12{margin-bottom:12upx ;}
 .mb-13{margin-bottom:13upx ;}
 .mb-14{margin-bottom:14upx ;}
 .mb-15{margin-bottom:15upx ;}
 .mb-16{margin-bottom:16upx ;}
 .mb-17{margin-bottom:17upx ;}
 .mb-18{margin-bottom:18upx ;}
 .mb-19{margin-bottom:19upx ;}
 .mb-20{margin-bottom:20upx ;}
 .mb-21{margin-bottom:21upx ;}
 .mb-22{margin-bottom:22upx ;}
 .mb-23{margin-bottom:23upx ;}
 .mb-24{margin-bottom:24upx ;}
 .mb-25{margin-bottom:25upx ;}
 .mb-26{margin-bottom:26upx ;}
 .mb-27{margin-bottom:27upx ;}
 .mb-28{margin-bottom:28upx ;}
 .mb-29{margin-bottom:29upx ;}
 .mb-30{margin-bottom:30upx ;}
 .mb-31{margin-bottom:31upx ;}
 .mb-32{margin-bottom:32upx ;}
 .mb-33{margin-bottom:33upx ;}
 .mb-34{margin-bottom:34upx ;}
 .mb-35{margin-bottom:35upx ;}
 .mb-36{margin-bottom:36upx ;}
 .mb-37{margin-bottom:37upx ;}
 .mb-38{margin-bottom:38upx ;}
 .mb-39{margin-bottom:39upx ;}
 .mb-40{margin-bottom:40upx ;}
 .mb-41{margin-bottom:41upx ;}
 .mb-42{margin-bottom:42upx ;}
 .mb-43{margin-bottom:43upx ;}
 .mb-44{margin-bottom:44upx ;}
 .mb-45{margin-bottom:45upx ;}
 .mb-46{margin-bottom:46upx ;}
 .mb-47{margin-bottom:47upx ;}
 .mb-48{margin-bottom:48upx ;}
 .mb-49{margin-bottom:49upx ;}
 .mb-50{margin-bottom:50upx ;}
 .mb-51{margin-bottom:51upx ;}
 .mb-52{margin-bottom:52upx ;}
 .mb-53{margin-bottom:53upx ;}
 .mb-54{margin-bottom:54upx ;}
 .mb-55{margin-bottom:55upx ;}
 .mb-56{margin-bottom:56upx ;}
 .mb-57{margin-bottom:57upx ;}
 .mb-58{margin-bottom:58upx ;}
 .mb-59{margin-bottom:59upx ;}
 .mb-60{margin-bottom:60upx ;}
 .mb-61{margin-bottom:61upx ;}
 .mb-62{margin-bottom:62upx ;}
 .mb-63{margin-bottom:63upx ;}
 .mb-64{margin-bottom:64upx ;}
 .mb-65{margin-bottom:65upx ;}
 .mb-66{margin-bottom:66upx ;}
 .mb-67{margin-bottom:67upx ;}
 .mb-68{margin-bottom:68upx ;}
 .mb-69{margin-bottom:69upx ;}
 .mb-70{margin-bottom:70upx ;}
 .mb-71{margin-bottom:71upx ;}
 .mb-72{margin-bottom:72upx ;}
 .mb-73{margin-bottom:73upx ;}
 .mb-74{margin-bottom:74upx ;}
 .mb-75{margin-bottom:75upx ;}
 .mb-76{margin-bottom:76upx ;}
 .mb-77{margin-bottom:77upx ;}
 .mb-78{margin-bottom:78upx ;}
 .mb-79{margin-bottom:79upx ;}
 .mb-80{margin-bottom:80upx ;}
 .mb-81{margin-bottom:81upx ;}
 .mb-82{margin-bottom:82upx ;}
 .mb-83{margin-bottom:83upx ;}
 .mb-84{margin-bottom:84upx ;}
 .mb-85{margin-bottom:85upx ;}
 .mb-86{margin-bottom:86upx ;}
 .mb-87{margin-bottom:87upx ;}
 .mb-88{margin-bottom:88upx ;}
 .mb-89{margin-bottom:89upx ;}
 .mb-90{margin-bottom:90upx ;}
 .mb-91{margin-bottom:91upx ;}
 .mb-92{margin-bottom:92upx ;}
 .mb-93{margin-bottom:93upx ;}
 .mb-94{margin-bottom:94upx ;}
 .mb-95{margin-bottom:95upx ;}
 .mb-96{margin-bottom:96upx ;}
 .mb-97{margin-bottom:97upx ;}
 .mb-98{margin-bottom:98upx ;}
 .mb-99{margin-bottom:99upx ;}
 .mb-100{margin-bottom:100upx ;}






/* 左右 */
 .mlr-0{margin-left:0upx ; margin-right:0upx ;}
 .mlr-1{margin-left:1upx ; margin-right:1upx ;}
 .mlr-2{margin-left:2upx ; margin-right:2upx ;}
 .mlr-3{margin-left:3upx ; margin-right:3upx ;}
 .mlr-4{margin-left:4upx ; margin-right:4upx ;}
 .mlr-5{margin-left:5upx ; margin-right:5upx ;}
 .mlr-6{margin-left:6upx ; margin-right:6upx ;}
 .mlr-7{margin-left:7upx ; margin-right:7upx ;}
 .mlr-8{margin-left:8upx ; margin-right:8upx ;}
 .mlr-9{margin-left:9upx ; margin-right:9upx ;}
 .mlr-10{margin-left:10upx ; margin-right:10upx ;}
 .mlr-11{margin-left:11upx ; margin-right:11upx ;}
 .mlr-12{margin-left:12upx ; margin-right:12upx ;}
 .mlr-13{margin-left:13upx ; margin-right:13upx ;}
 .mlr-14{margin-left:14upx ; margin-right:14upx ;}
 .mlr-15{margin-left:15upx ; margin-right:15upx ;}
 .mlr-16{margin-left:16upx ; margin-right:16upx ;}
 .mlr-17{margin-left:17upx ; margin-right:17upx ;}
 .mlr-18{margin-left:18upx ; margin-right:18upx ;}
 .mlr-19{margin-left:19upx ; margin-right:19upx ;}
 .mlr-20{margin-left:20upx ; margin-right:20upx ;}
 .mlr-21{margin-left:21upx ; margin-right:21upx ;}
 .mlr-22{margin-left:22upx ; margin-right:22upx ;}
 .mlr-23{margin-left:23upx ; margin-right:23upx ;}
 .mlr-24{margin-left:24upx ; margin-right:24upx ;}
 .mlr-25{margin-left:25upx ; margin-right:25upx ;}
 .mlr-26{margin-left:26upx ; margin-right:26upx ;}
 .mlr-27{margin-left:27upx ; margin-right:27upx ;}
 .mlr-28{margin-left:28upx ; margin-right:28upx ;}
 .mlr-29{margin-left:29upx ; margin-right:29upx ;}
 .mlr-30{margin-left:30upx ; margin-right:30upx ;}
 .mlr-31{margin-left:31upx ; margin-right:31upx ;}
 .mlr-32{margin-left:32upx ; margin-right:32upx ;}
 .mlr-33{margin-left:33upx ; margin-right:33upx ;}
 .mlr-34{margin-left:34upx ; margin-right:34upx ;}
 .mlr-35{margin-left:35upx ; margin-right:35upx ;}
 .mlr-36{margin-left:36upx ; margin-right:36upx ;}
 .mlr-37{margin-left:37upx ; margin-right:37upx ;}
 .mlr-38{margin-left:38upx ; margin-right:38upx ;}
 .mlr-39{margin-left:39upx ; margin-right:39upx ;}
 .mlr-40{margin-left:40upx ; margin-right:40upx ;}
 .mlr-41{margin-left:41upx ; margin-right:41upx ;}
 .mlr-42{margin-left:42upx ; margin-right:42upx ;}
 .mlr-43{margin-left:43upx ; margin-right:43upx ;}
 .mlr-44{margin-left:44upx ; margin-right:44upx ;}
 .mlr-45{margin-left:45upx ; margin-right:45upx ;}
 .mlr-46{margin-left:46upx ; margin-right:46upx ;}
 .mlr-47{margin-left:47upx ; margin-right:47upx ;}
 .mlr-48{margin-left:48upx ; margin-right:48upx ;}
 .mlr-49{margin-left:49upx ; margin-right:49upx ;}
 .mlr-50{margin-left:50upx ; margin-right:50upx ;}
 .mlr-51{margin-left:51upx ; margin-right:51upx ;}
 .mlr-52{margin-left:52upx ; margin-right:52upx ;}
 .mlr-53{margin-left:53upx ; margin-right:53upx ;}
 .mlr-54{margin-left:54upx ; margin-right:54upx ;}
 .mlr-55{margin-left:55upx ; margin-right:55upx ;}
 .mlr-56{margin-left:56upx ; margin-right:56upx ;}
 .mlr-57{margin-left:57upx ; margin-right:57upx ;}
 .mlr-58{margin-left:58upx ; margin-right:58upx ;}
 .mlr-59{margin-left:59upx ; margin-right:59upx ;}
 .mlr-60{margin-left:60upx ; margin-right:60upx ;}
 .mlr-61{margin-left:61upx ; margin-right:61upx ;}
 .mlr-62{margin-left:62upx ; margin-right:62upx ;}
 .mlr-63{margin-left:63upx ; margin-right:63upx ;}
 .mlr-64{margin-left:64upx ; margin-right:64upx ;}
 .mlr-65{margin-left:65upx ; margin-right:65upx ;}
 .mlr-66{margin-left:66upx ; margin-right:66upx ;}
 .mlr-67{margin-left:67upx ; margin-right:67upx ;}
 .mlr-68{margin-left:68upx ; margin-right:68upx ;}
 .mlr-69{margin-left:69upx ; margin-right:69upx ;}
 .mlr-70{margin-left:70upx ; margin-right:70upx ;}
 .mlr-71{margin-left:71upx ; margin-right:71upx ;}
 .mlr-72{margin-left:72upx ; margin-right:72upx ;}
 .mlr-73{margin-left:73upx ; margin-right:73upx ;}
 .mlr-74{margin-left:74upx ; margin-right:74upx ;}
 .mlr-75{margin-left:75upx ; margin-right:75upx ;}
 .mlr-76{margin-left:76upx ; margin-right:76upx ;}
 .mlr-77{margin-left:77upx ; margin-right:77upx ;}
 .mlr-78{margin-left:78upx ; margin-right:78upx ;}
 .mlr-79{margin-left:79upx ; margin-right:79upx ;}
 .mlr-80{margin-left:80upx ; margin-right:80upx ;}
 .mlr-81{margin-left:81upx ; margin-right:81upx ;}
 .mlr-82{margin-left:82upx ; margin-right:82upx ;}
 .mlr-83{margin-left:83upx ; margin-right:83upx ;}
 .mlr-84{margin-left:84upx ; margin-right:84upx ;}
 .mlr-85{margin-left:85upx ; margin-right:85upx ;}
 .mlr-86{margin-left:86upx ; margin-right:86upx ;}
 .mlr-87{margin-left:87upx ; margin-right:87upx ;}
 .mlr-88{margin-left:88upx ; margin-right:88upx ;}
 .mlr-89{margin-left:89upx ; margin-right:89upx ;}
 .mlr-90{margin-left:90upx ; margin-right:90upx ;}
 .mlr-91{margin-left:91upx ; margin-right:91upx ;}
 .mlr-92{margin-left:92upx ; margin-right:92upx ;}
 .mlr-93{margin-left:93upx ; margin-right:93upx ;}
 .mlr-94{margin-left:94upx ; margin-right:94upx ;}
 .mlr-95{margin-left:95upx ; margin-right:95upx ;}
 .mlr-96{margin-left:96upx ; margin-right:96upx ;}
 .mlr-97{margin-left:97upx ; margin-right:97upx ;}
 .mlr-98{margin-left:98upx ; margin-right:98upx ;}
 .mlr-99{margin-left:99upx ; margin-right:99upx ;}
 .mlr-100{margin-left:100upx ; margin-right:100upx ;}

/* 上下 */
.mtb-0{margin-top:0upx ; margin-bottom:0upx ;}
 .mtb-1{margin-top:1upx ; margin-bottom:1upx ;}
 .mtb-2{margin-top:2upx ; margin-bottom:2upx ;}
 .mtb-3{margin-top:3upx ; margin-bottom:3upx ;}
 .mtb-4{margin-top:4upx ; margin-bottom:4upx ;}
 .mtb-5{margin-top:5upx ; margin-bottom:5upx ;}
 .mtb-6{margin-top:6upx ; margin-bottom:6upx ;}
 .mtb-7{margin-top:7upx ; margin-bottom:7upx ;}
 .mtb-8{margin-top:8upx ; margin-bottom:8upx ;}
 .mtb-9{margin-top:9upx ; margin-bottom:9upx ;}
 .mtb-10{margin-top:10upx ; margin-bottom:10upx ;}
 .mtb-11{margin-top:11upx ; margin-bottom:11upx ;}
 .mtb-12{margin-top:12upx ; margin-bottom:12upx ;}
 .mtb-13{margin-top:13upx ; margin-bottom:13upx ;}
 .mtb-14{margin-top:14upx ; margin-bottom:14upx ;}
 .mtb-15{margin-top:15upx ; margin-bottom:15upx ;}
 .mtb-16{margin-top:16upx ; margin-bottom:16upx ;}
 .mtb-17{margin-top:17upx ; margin-bottom:17upx ;}
 .mtb-18{margin-top:18upx ; margin-bottom:18upx ;}
 .mtb-19{margin-top:19upx ; margin-bottom:19upx ;}
 .mtb-20{margin-top:20upx ; margin-bottom:20upx ;}
 .mtb-21{margin-top:21upx ; margin-bottom:21upx ;}
 .mtb-22{margin-top:22upx ; margin-bottom:22upx ;}
 .mtb-23{margin-top:23upx ; margin-bottom:23upx ;}
 .mtb-24{margin-top:24upx ; margin-bottom:24upx ;}
 .mtb-25{margin-top:25upx ; margin-bottom:25upx ;}
 .mtb-26{margin-top:26upx ; margin-bottom:26upx ;}
 .mtb-27{margin-top:27upx ; margin-bottom:27upx ;}
 .mtb-28{margin-top:28upx ; margin-bottom:28upx ;}
 .mtb-29{margin-top:29upx ; margin-bottom:29upx ;}
 .mtb-30{margin-top:30upx ; margin-bottom:30upx ;}
 .mtb-31{margin-top:31upx ; margin-bottom:31upx ;}
 .mtb-32{margin-top:32upx ; margin-bottom:32upx ;}
 .mtb-33{margin-top:33upx ; margin-bottom:33upx ;}
 .mtb-34{margin-top:34upx ; margin-bottom:34upx ;}
 .mtb-35{margin-top:35upx ; margin-bottom:35upx ;}
 .mtb-36{margin-top:36upx ; margin-bottom:36upx ;}
 .mtb-37{margin-top:37upx ; margin-bottom:37upx ;}
 .mtb-38{margin-top:38upx ; margin-bottom:38upx ;}
 .mtb-39{margin-top:39upx ; margin-bottom:39upx ;}
 .mtb-40{margin-top:40upx ; margin-bottom:40upx ;}
 .mtb-41{margin-top:41upx ; margin-bottom:41upx ;}
 .mtb-42{margin-top:42upx ; margin-bottom:42upx ;}
 .mtb-43{margin-top:43upx ; margin-bottom:43upx ;}
 .mtb-44{margin-top:44upx ; margin-bottom:44upx ;}
 .mtb-45{margin-top:45upx ; margin-bottom:45upx ;}
 .mtb-46{margin-top:46upx ; margin-bottom:46upx ;}
 .mtb-47{margin-top:47upx ; margin-bottom:47upx ;}
 .mtb-48{margin-top:48upx ; margin-bottom:48upx ;}
 .mtb-49{margin-top:49upx ; margin-bottom:49upx ;}
 .mtb-50{margin-top:50upx ; margin-bottom:50upx ;}
 .mtb-51{margin-top:51upx ; margin-bottom:51upx ;}
 .mtb-52{margin-top:52upx ; margin-bottom:52upx ;}
 .mtb-53{margin-top:53upx ; margin-bottom:53upx ;}
 .mtb-54{margin-top:54upx ; margin-bottom:54upx ;}
 .mtb-55{margin-top:55upx ; margin-bottom:55upx ;}
 .mtb-56{margin-top:56upx ; margin-bottom:56upx ;}
 .mtb-57{margin-top:57upx ; margin-bottom:57upx ;}
 .mtb-58{margin-top:58upx ; margin-bottom:58upx ;}
 .mtb-59{margin-top:59upx ; margin-bottom:59upx ;}
 .mtb-60{margin-top:60upx ; margin-bottom:60upx ;}
 .mtb-61{margin-top:61upx ; margin-bottom:61upx ;}
 .mtb-62{margin-top:62upx ; margin-bottom:62upx ;}
 .mtb-63{margin-top:63upx ; margin-bottom:63upx ;}
 .mtb-64{margin-top:64upx ; margin-bottom:64upx ;}
 .mtb-65{margin-top:65upx ; margin-bottom:65upx ;}
 .mtb-66{margin-top:66upx ; margin-bottom:66upx ;}
 .mtb-67{margin-top:67upx ; margin-bottom:67upx ;}
 .mtb-68{margin-top:68upx ; margin-bottom:68upx ;}
 .mtb-69{margin-top:69upx ; margin-bottom:69upx ;}
 .mtb-70{margin-top:70upx ; margin-bottom:70upx ;}
 .mtb-71{margin-top:71upx ; margin-bottom:71upx ;}
 .mtb-72{margin-top:72upx ; margin-bottom:72upx ;}
 .mtb-73{margin-top:73upx ; margin-bottom:73upx ;}
 .mtb-74{margin-top:74upx ; margin-bottom:74upx ;}
 .mtb-75{margin-top:75upx ; margin-bottom:75upx ;}
 .mtb-76{margin-top:76upx ; margin-bottom:76upx ;}
 .mtb-77{margin-top:77upx ; margin-bottom:77upx ;}
 .mtb-78{margin-top:78upx ; margin-bottom:78upx ;}
 .mtb-79{margin-top:79upx ; margin-bottom:79upx ;}
 .mtb-80{margin-top:80upx ; margin-bottom:80upx ;}
 .mtb-81{margin-top:81upx ; margin-bottom:81upx ;}
 .mtb-82{margin-top:82upx ; margin-bottom:82upx ;}
 .mtb-83{margin-top:83upx ; margin-bottom:83upx ;}
 .mtb-84{margin-top:84upx ; margin-bottom:84upx ;}
 .mtb-85{margin-top:85upx ; margin-bottom:85upx ;}
 .mtb-86{margin-top:86upx ; margin-bottom:86upx ;}
 .mtb-87{margin-top:87upx ; margin-bottom:87upx ;}
 .mtb-88{margin-top:88upx ; margin-bottom:88upx ;}
 .mtb-89{margin-top:89upx ; margin-bottom:89upx ;}
 .mtb-90{margin-top:90upx ; margin-bottom:90upx ;}
 .mtb-91{margin-top:91upx ; margin-bottom:91upx ;}
 .mtb-92{margin-top:92upx ; margin-bottom:92upx ;}
 .mtb-93{margin-top:93upx ; margin-bottom:93upx ;}
 .mtb-94{margin-top:94upx ; margin-bottom:94upx ;}
 .mtb-95{margin-top:95upx ; margin-bottom:95upx ;}
 .mtb-96{margin-top:96upx ; margin-bottom:96upx ;}
 .mtb-97{margin-top:97upx ; margin-bottom:97upx ;}
 .mtb-98{margin-top:98upx ; margin-bottom:98upx ;}
 .mtb-99{margin-top:99upx ; margin-bottom:99upx ;}
 .mtb-100{margin-top:100upx ; margin-bottom:100upx ;}

 /* 四周上下左右 */
 .m-0{margin:0upx }
 .m-1{margin:1upx }
 .m-2{margin:2upx }
 .m-3{margin:3upx }
 .m-4{margin:4upx }
 .m-5{margin:5upx }
 .m-6{margin:6upx }
 .m-7{margin:7upx }
 .m-8{margin:8upx }
 .m-9{margin:9upx }
 .m-10{margin:10upx }
 .m-11{margin:11upx }
 .m-12{margin:12upx }
 .m-13{margin:13upx }
 .m-14{margin:14upx }
 .m-15{margin:15upx }
 .m-16{margin:16upx }
 .m-17{margin:17upx }
 .m-18{margin:18upx }
 .m-19{margin:19upx }
 .m-20{margin:20upx }
 .m-21{margin:21upx }
 .m-22{margin:22upx }
 .m-23{margin:23upx }
 .m-24{margin:24upx }
 .m-25{margin:25upx }
 .m-26{margin:26upx }
 .m-27{margin:27upx }
 .m-28{margin:28upx }
 .m-29{margin:29upx }
 .m-30{margin:30upx }
 .m-31{margin:31upx }
 .m-32{margin:32upx }
 .m-33{margin:33upx }
 .m-34{margin:34upx }
 .m-35{margin:35upx }
 .m-36{margin:36upx }
 .m-37{margin:37upx }
 .m-38{margin:38upx }
 .m-39{margin:39upx }
 .m-40{margin:40upx }
 .m-41{margin:41upx }
 .m-42{margin:42upx }
 .m-43{margin:43upx }
 .m-44{margin:44upx }
 .m-45{margin:45upx }
 .m-46{margin:46upx }
 .m-47{margin:47upx }
 .m-48{margin:48upx }
 .m-49{margin:49upx }
 .m-50{margin:50upx }
 .m-51{margin:51upx }
 .m-52{margin:52upx }
 .m-53{margin:53upx }
 .m-54{margin:54upx }
 .m-55{margin:55upx }
 .m-56{margin:56upx }
 .m-57{margin:57upx }
 .m-58{margin:58upx }
 .m-59{margin:59upx }
 .m-60{margin:60upx }
 .m-61{margin:61upx }
 .m-62{margin:62upx }
 .m-63{margin:63upx }
 .m-64{margin:64upx }
 .m-65{margin:65upx }
 .m-66{margin:66upx }
 .m-67{margin:67upx }
 .m-68{margin:68upx }
 .m-69{margin:69upx }
 .m-70{margin:70upx }
 .m-71{margin:71upx }
 .m-72{margin:72upx }
 .m-73{margin:73upx }
 .m-74{margin:74upx }
 .m-75{margin:75upx }
 .m-76{margin:76upx }
 .m-77{margin:77upx }
 .m-78{margin:78upx }
 .m-79{margin:79upx }
 .m-80{margin:80upx }
 .m-81{margin:81upx }
 .m-82{margin:82upx }
 .m-83{margin:83upx }
 .m-84{margin:84upx }
 .m-85{margin:85upx }
 .m-86{margin:86upx }
 .m-87{margin:87upx }
 .m-88{margin:88upx }
 .m-89{margin:89upx }
 .m-90{margin:90upx }
 .m-91{margin:91upx }
 .m-92{margin:92upx }
 .m-93{margin:93upx }
 .m-94{margin:94upx }
 .m-95{margin:95upx }
 .m-96{margin:96upx }
 .m-97{margin:97upx }
 .m-98{margin:98upx }
 .m-99{margin:99upx }
 .m-100{margin:100upx }



 /* 
 
var mmm = '.ml-aaa{margin-left:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
    console.log('', aaa)
}
var mmm = '.mr-aaa{margin-right:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
    console.log('', aaa)
}
var mmm = '.mt-aaa{margin-top:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
    console.log('', aaa)
}
var mmm = '.mb-aaa{margin-bottom:aaaupx ;}'
for (let index = 0; index < 101; index++) {
    let aaa = mmm.replace(/aaa/g, index)
    console.log('', aaa)
}


 */