.img1 {
  width: 50px;
  height: 50px;
  background-image: url("./public/img1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img2 {
  width: 100px;
  height: 100px;
  background-image: url("./public/img2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img3 {
  width: 150px;
  height: 150px;
  background-image: url("./public/img3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
